[Unit]
Description=Electrumz
After=network.target

[Service]
EnvironmentFile=/etc/electrumz.conf
ExecStart=/usr/local/bin/electrumz_server
ExecStop=/usr/local/bin/electrumz_rpc -p 8000 stop
User=electrumz
LimitNOFILE=8192
TimeoutStopSec=30min

[Install]
WantedBy=multi-user.target
